/* show earth */
.earth {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.map {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateY(-40px);
  transition: transform 1s ease;
}
.map.center-position {
  transform: translateY(10px);
}
